# mombot command aliases
# format: alias=real command

?=help
l=land
x=xport
qss=status
d=dep
w=with
k=keep
sec=sector
sect=sector
secto=sector
xenter=exit
cn=cn9
emx=reset
finder=find
pinfo=pscan
parm=param
params=param
parms=param
shipstore=storeship
holotorp=htorp
logout=logoff
loguo=logoff
m=mow
p=pwarp
t=twarp
b=bwarp
massupgrade=upgrade
corp_info=corpinfo
setparms=setparam
