<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="Mombot 5.0" Language="1033" Version="2.6.5.2" Manufacturer="eXide" UpgradeCode="9be0828c-24de-43b2-a233-5c0a82c07f35">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." />

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="TWX Proxy" Level="1" Absent="disallow" ConfigurableDirectory="MOMBOT" Description="Installs the main TWX Proxy program, including Pack 1 / 2">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

		<Property Id="MOMBOT" Secure="yes">
			<RegistrySearch Id="ApplicationFolderSearch" Type="raw" Root="HKCU" Key="Software\Xide\TWXP" Name="MOMBOT"/>
		</Property>
		<Property Id="COMPILE" Secure="yes">
			<RegistrySearch Id="CompileMombot" Type="raw" Root="HKCU" Key="Software\Xide\TWXP" Name="COMPILE"/>
		</Property>
        <Property Id="WIXUI_INSTALLDIR" Value="MOMBOT" />
		<UIRef Id="WixUI_InstallDir" />
  
<UI>
    
    <Publish Dialog="ExitDialog" 
        Control="Finish" 
        Event="DoAction" 
        Value="LaunchApplication">NOT Installed</Publish>
</UI>
<!--
<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Compile Mind ()ver Matter bot now." />
  -->

<Property Id="WixShellExecTarget" Value="[#MakeBot.exe]" />
<CustomAction Id="LaunchApplication" 
    BinaryKey="WixCA" 
    DllEntry="WixShellExec"
    Impersonate="yes" />                        
</Product>
 


   <Fragment>
        <WixVariable Id="WixUISupportPerUser" Value="0" />
        <Property Id="ApplicationFolderName" Value="TWXProxy\Scripts\Mombot" />
        <Property Id="WixAppFolder" Value="WixPerUserFolder" />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\banner.jpg" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\sidelogo.jpg" />
        <SetDirectory Id="APPLICATIONFOLDER" Value="[WindowsVolume]" />
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONFOLDER" Name="AppFolder">
                    <Directory Id="TWXPROXY" Name="TWXProxy" >
                        <Directory Id="SCRIPTS" Name="Scripts" >
                            <Directory Id="MOMBOT" Name="Mombot">
                                <Directory Id="Help" Name="Help" />
                                <Directory Id="Source" Name="Source" >
<Directory Id="D0000" Name="bot_includes">
<Directory Id="D0001" Name="bot">
</Directory>
<Directory Id="D0002" Name="combat">
<Directory Id="D0003" Name="fastattack">
</Directory>
<Directory Id="D0004" Name="fastcapture">
</Directory>
<Directory Id="D0005" Name="fastcitadelattack">
</Directory>
<Directory Id="D0006" Name="holokill">
</Directory>
<Directory Id="D0007" Name="holoscan">
</Directory>
<Directory Id="D0008" Name="init">
</Directory>
<Directory Id="D0009" Name="passiveholokill">
</Directory>
</Directory>
<Directory Id="D0010" Name="external">
</Directory>
<Directory Id="D0011" Name="game">
<Directory Id="D0012" Name="gamestats">
</Directory>
<Directory Id="D0013" Name="getcost">
</Directory>
</Directory>
<Directory Id="D0014" Name="grid">
<Directory Id="D0015" Name="surround">
</Directory>
</Directory>
<Directory Id="D0016" Name="map">
<Directory Id="D0017" Name="addfigtodata">
</Directory>
<Directory Id="D0018" Name="commas">
</Directory>
<Directory Id="D0019" Name="displayadjacentgridansi">
</Directory>
<Directory Id="D0020" Name="displaynavigation">
</Directory>
<Directory Id="D0021" Name="displaysector">
</Directory>
<Directory Id="D0022" Name="formatsectorowner">
</Directory>
<Directory Id="D0023" Name="removefigfromdata">
</Directory>
</Directory>
<Directory Id="D0024" Name="planet">
<Directory Id="D0025" Name="countplanets">
</Directory>
<Directory Id="D0026" Name="getplanetinfo">
</Directory>
<Directory Id="D0027" Name="getplanetnumber">
</Directory>
<Directory Id="D0028" Name="getplanetstats">
</Directory>
<Directory Id="D0029" Name="landingsub">
</Directory>
<Directory Id="D0030" Name="landonplanetentercitadel">
</Directory>
<Directory Id="D0031" Name="loadplanetinfo">
</Directory>
<Directory Id="D0032" Name="makeplanetarray">
</Directory>
<Directory Id="D0033" Name="planetneg">
</Directory>
</Directory>
<Directory Id="D0034" Name="player">
<Directory Id="D0035" Name="addfigtodata">
</Directory>
<Directory Id="D0036" Name="buy">
</Directory>
<Directory Id="D0037" Name="bwarp">
</Directory>
<Directory Id="D0038" Name="checkcorp">
</Directory>
<Directory Id="D0039" Name="checkfortravelname">
</Directory>
<Directory Id="D0040" Name="clearadjacent">
</Directory>
<Directory Id="D0041" Name="commasize">
</Directory>
<Directory Id="D0042" Name="currentprompt">
</Directory>
<Directory Id="D0043" Name="findjumpsector">
</Directory>
<Directory Id="D0044" Name="formatnumberforspaces">
</Directory>
<Directory Id="D0045" Name="formatpercentagesforspaces">
</Directory>
<Directory Id="D0046" Name="getcourse">
</Directory>
<Directory Id="D0047" Name="getinfo">
</Directory>
<Directory Id="D0048" Name="getportinfo">
</Directory>
<Directory Id="D0049" Name="isephaggle">
</Directory>
<Directory Id="D0050" Name="moveintosector">
</Directory>
<Directory Id="D0051" Name="pwarp">
</Directory>
<Directory Id="D0052" Name="quikstats">
</Directory>
<Directory Id="D0053" Name="removefigfromdata">
</Directory>
<Directory Id="D0054" Name="setconnectiontriggers">
</Directory>
<Directory Id="D0055" Name="startcnsettings">
</Directory>
<Directory Id="D0056" Name="starthaggle">
</Directory>
<Directory Id="D0057" Name="swathoff">
</Directory>
<Directory Id="D0058" Name="topoff">
</Directory>
<Directory Id="D0059" Name="turnoffansi">
</Directory>
<Directory Id="D0060" Name="turnonansi">
</Directory>
<Directory Id="D0061" Name="twarp">
</Directory>
<Directory Id="D0062" Name="voidadjacent">
</Directory>
</Directory>
<Directory Id="D0063" Name="sector">
<Directory Id="D0064" Name="getautosectordata">
</Directory>
<Directory Id="D0065" Name="getemptyships">
</Directory>
<Directory Id="D0066" Name="getfaketraders">
</Directory>
<Directory Id="D0067" Name="getsectordata">
</Directory>
<Directory Id="D0068" Name="gettraders">
</Directory>
</Directory>
<Directory Id="D0069" Name="ship">
<Directory Id="D0070" Name="getshipcapstats">
</Directory>
<Directory Id="D0071" Name="getshipstats">
</Directory>
<Directory Id="D0072" Name="loadshipinfo">
</Directory>
<Directory Id="D0073" Name="savetheship">
</Directory>
</Directory>
<Directory Id="D0074" Name="targeting">
<Directory Id="D0075" Name="fastcitadelattack">
</Directory>
<Directory Id="D0076" Name="getemptyships">
</Directory>
<Directory Id="D0077" Name="getfaketraders">
</Directory>
<Directory Id="D0078" Name="getsectordata">
</Directory>
<Directory Id="D0079" Name="gettraders">
</Directory>
<Directory Id="D0080" Name="initializetargeting">
</Directory>
<Directory Id="D0081" Name="scanitcitkill">
</Directory>
</Directory>
</Directory>
<Directory Id="D0082" Name="commands">
<Directory Id="D0083" Name="cashing">
</Directory>
<Directory Id="D0084" Name="data">
</Directory>
<Directory Id="D0085" Name="defense">
</Directory>
<Directory Id="D0086" Name="general">
</Directory>
<Directory Id="D0087" Name="grid">
</Directory>
<Directory Id="D0088" Name="offense">
</Directory>
<Directory Id="D0089" Name="resource">
</Directory>
</Directory>
<Directory Id="D0090" Name="daemons">
</Directory>
<Directory Id="D0091" Name="modes">
<Directory Id="D0092" Name="cashing">
</Directory>
<Directory Id="D0093" Name="data">
</Directory>
<Directory Id="D0094" Name="defense">
</Directory>
<Directory Id="D0095" Name="general">
</Directory>
<Directory Id="D0096" Name="grid">
</Directory>
<Directory Id="D0097" Name="offense">
</Directory>
<Directory Id="D0098" Name="resource">
</Directory>
</Directory>
<Directory Id="D0099" Name="module_includes">
<Directory Id="D0100" Name="bot">
<Directory Id="D0101" Name="addfigtodata">
</Directory>
<Directory Id="D0102" Name="banner">
</Directory>
<Directory Id="D0103" Name="checkstartingprompt">
</Directory>
<Directory Id="D0104" Name="commas">
</Directory>
<Directory Id="D0105" Name="disconnecttriggers">
</Directory>
<Directory Id="D0106" Name="displayhelp">
</Directory>
<Directory Id="D0107" Name="echo">
</Directory>
<Directory Id="D0108" Name="formathelpline">
</Directory>
<Directory Id="D0109" Name="helpfile">
</Directory>
<Directory Id="D0110" Name="loadvars">
</Directory>
<Directory Id="D0111" Name="menu">
</Directory>
<Directory Id="D0112" Name="removefigfromdata">
</Directory>
<Directory Id="D0113" Name="wait_for_command">
</Directory>
</Directory>
<Directory Id="D0114" Name="deploy">
</Directory>
<Directory Id="D0115" Name="game">
<Directory Id="D0116" Name="addfigtodata">
</Directory>
<Directory Id="D0117" Name="banner">
</Directory>
<Directory Id="D0118" Name="checkstartingprompt">
</Directory>
<Directory Id="D0119" Name="commas">
</Directory>
<Directory Id="D0120" Name="disconnecttriggers">
</Directory>
<Directory Id="D0121" Name="displayhelp">
</Directory>
<Directory Id="D0122" Name="formathelpline">
</Directory>
<Directory Id="D0123" Name="helpfile">
</Directory>
<Directory Id="D0124" Name="loadvars">
</Directory>
<Directory Id="D0125" Name="menu">
</Directory>
<Directory Id="D0126" Name="removefigfromdata">
</Directory>
<Directory Id="D0127" Name="wait_for_command">
</Directory>
</Directory>
<Directory Id="D0128" Name="modules">
<Directory Id="D0129" Name="clear">
</Directory>
<Directory Id="D0130" Name="xenter">
</Directory>
</Directory>
<Directory Id="D0131" Name="update">
</Directory>
</Directory>
<Directory Id="D0132" Name="startups">
</Directory>

                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>	   

        <ComponentGroup Id="ProductComponents">
            <Component Id="ProductComponent" Directory="Source" Guid="72a94083-4c7e-4365-aa2e-10d1aa6721c2"  >
               <!--<RegistryValue Id="InstallPath" Root="HKCU" Key="Software\Xide\TWXP"  Name="Mombot" Type="string" Value="[Mombot]" />
               <RegistryValue Id="Compile" Root="HKCU" Key="Software\Xide\TWXP"  Name="Compile" Type="integer" Value="[Compile]" />-->
                               
               <File Source="..\mombot.ts"/>
               <File Source="..\Directory Structure.txt"/>
               <File Source="..\page.wav"/>
               <File Source="..\StripExample.ts"/>
               <File Source="..\MakeBot.exe"/>                               
               <File Source="..\twxc.exe"/>                                          
            </Component>
<Component Id="C0000" Directory="D0000" Guid="38d9c1c1-1e14-4b5f-93e8-124180439dfd">
    <File Id="F0000" Source="..\bot_includes\ai.ts"/>
    <File Id="F0001" Source="..\bot_includes\bot.ts"/>
    <File Id="F0002" Source="..\bot_includes\game.ts"/>
    <File Id="F0003" Source="..\bot_includes\map.ts"/>
    <File Id="F0004" Source="..\bot_includes\planet.ts"/>
    <File Id="F0005" Source="..\bot_includes\player.ts"/>
    <File Id="F0006" Source="..\bot_includes\ship.ts"/>
    <File Id="F0007" Source="..\bot_includes\switchboard.ts"/>
    <File Id="F0008" Source="..\bot_includes\validation.ts"/>
</Component>
<Component Id="C0001" Directory="D0001" Guid="708d553d-75a8-43ff-9c97-5e005b3eec90">
    <File Id="F0009" Source="..\bot_includes\bot\connectivity.ts"/>
    <File Id="F0010" Source="..\bot_includes\bot\internal_commands.ts"/>
    <File Id="F0011" Source="..\bot_includes\bot\listener.ts"/>
    <File Id="F0012" Source="..\bot_includes\bot\menus.ts"/>
    <File Id="F0013" Source="..\bot_includes\bot\user_interface.ts"/>
</Component>
<Component Id="C0003" Directory="D0003" Guid="21653022-6c22-473f-bd65-65eb4448ff2e">
    <File Id="F0014" Source="..\bot_includes\combat\fastattack\combat.ts"/>
</Component>
<Component Id="C0004" Directory="D0004" Guid="a7dc73ec-e2a3-4664-b011-267c0e865c69">
    <File Id="F0015" Source="..\bot_includes\combat\fastcapture\combat.ts"/>
</Component>
<Component Id="C0005" Directory="D0005" Guid="f4214e1d-c655-493c-8937-9e093b44da3f">
    <File Id="F0016" Source="..\bot_includes\combat\fastcitadelattack\combat.ts"/>
</Component>
<Component Id="C0006" Directory="D0006" Guid="eaaf576f-cc4b-465f-898f-42d35fac7f06">
    <File Id="F0017" Source="..\bot_includes\combat\holokill\combat.ts"/>
</Component>
<Component Id="C0007" Directory="D0007" Guid="a86d7b32-3785-4c75-b4ad-b293639120d6">
    <File Id="F0018" Source="..\bot_includes\combat\holoscan\combat.ts"/>
</Component>
<Component Id="C0008" Directory="D0008" Guid="171d3149-b446-4bc9-ad39-56dcc828130a">
    <File Id="F0019" Source="..\bot_includes\combat\init\combat.ts"/>
</Component>
<Component Id="C0009" Directory="D0009" Guid="94f491b3-ab56-4703-a0d9-8f62d8acdb6a">
    <File Id="F0020" Source="..\bot_includes\combat\passiveholokill\combat.ts"/>
</Component>
<Component Id="C0010" Directory="D0010" Guid="500b5e5e-e6db-4332-abc8-083fc183c099">
    <File Id="F0021" Source="..\bot_includes\external\buy.ts"/>
    <File Id="F0022" Source="..\bot_includes\external\buyfig.ts"/>
    <File Id="F0023" Source="..\bot_includes\external\buyfuel.ts"/>
    <File Id="F0024" Source="..\bot_includes\external\buyshield.ts"/>
    <File Id="F0025" Source="..\bot_includes\external\call.ts"/>
    <File Id="F0026" Source="..\bot_includes\external\dep.ts"/>
    <File Id="F0027" Source="..\bot_includes\external\dscan.ts"/>
    <File Id="F0028" Source="..\bot_includes\external\holo.ts"/>
    <File Id="F0029" Source="..\bot_includes\external\htorp.ts"/>
    <File Id="F0030" Source="..\bot_includes\external\max.ts"/>
    <File Id="F0031" Source="..\bot_includes\external\movefig.ts"/>
    <File Id="F0032" Source="..\bot_includes\external\moveship.ts"/>
    <File Id="F0033" Source="..\bot_includes\external\mow.ts"/>
    <File Id="F0034" Source="..\bot_includes\external\patp.ts"/>
    <File Id="F0035" Source="..\bot_includes\external\pe.ts"/>
    <File Id="F0036" Source="..\bot_includes\external\pel.ts"/>
    <File Id="F0037" Source="..\bot_includes\external\pgrid.ts"/>
    <File Id="F0038" Source="..\bot_includes\external\photon.ts"/>
    <File Id="F0039" Source="..\bot_includes\external\pwarp.ts"/>
    <File Id="F0040" Source="..\bot_includes\external\scrub.ts"/>
    <File Id="F0041" Source="..\bot_includes\external\with.ts"/>
    <File Id="F0042" Source="..\bot_includes\external\xenter.ts"/>
</Component>
<Component Id="C0012" Directory="D0012" Guid="7bbbda4e-ed63-4ac7-96c7-dd604d15b2eb">
    <File Id="F0043" Source="..\bot_includes\game\gamestats\game.ts"/>
</Component>
<Component Id="C0013" Directory="D0013" Guid="331498ab-c00c-46a4-b807-2aa7afc87381">
    <File Id="F0044" Source="..\bot_includes\game\getcost\game.ts"/>
</Component>
<Component Id="C0015" Directory="D0015" Guid="6116fd16-9f90-4ff3-9eb9-b85e982cdc03">
    <File Id="F0045" Source="..\bot_includes\grid\surround\grid.ts"/>
</Component>
<Component Id="C0017" Directory="D0017" Guid="57413a7b-dbc3-41c6-a805-04dc70de1bfa">
    <File Id="F0046" Source="..\bot_includes\map\addfigtodata\map.ts"/>
</Component>
<Component Id="C0018" Directory="D0018" Guid="a72f5ef4-f754-47f3-ae57-322030b048b2">
    <File Id="F0047" Source="..\bot_includes\map\commas\map.ts"/>
</Component>
<Component Id="C0019" Directory="D0019" Guid="320cfcd4-9e93-4fab-b879-30a41494bc7a">
    <File Id="F0048" Source="..\bot_includes\map\displayadjacentgridansi\map.ts"/>
</Component>
<Component Id="C0020" Directory="D0020" Guid="e07a7554-bc34-4357-8351-2289eeb18e94">
    <File Id="F0049" Source="..\bot_includes\map\displaynavigation\map.ts"/>
</Component>
<Component Id="C0021" Directory="D0021" Guid="117388f8-8685-44b9-9b02-281e292e3c0f">
    <File Id="F0050" Source="..\bot_includes\map\displaysector\map.ts"/>
</Component>
<Component Id="C0022" Directory="D0022" Guid="fd185a18-c9b6-431e-a48e-6701faddff57">
    <File Id="F0051" Source="..\bot_includes\map\formatsectorowner\map.ts"/>
</Component>
<Component Id="C0023" Directory="D0023" Guid="2a1f68d0-3f83-4501-a56a-8323a7e597af">
    <File Id="F0052" Source="..\bot_includes\map\removefigfromdata\map.ts"/>
</Component>
<Component Id="C0025" Directory="D0025" Guid="09b3e8e9-4fc8-4e20-9176-00d2dbd9d60b">
    <File Id="F0053" Source="..\bot_includes\planet\countplanets\planet.ts"/>
</Component>
<Component Id="C0026" Directory="D0026" Guid="95bb1ed1-e363-477c-afb6-52d7f19f4acb">
    <File Id="F0054" Source="..\bot_includes\planet\getplanetinfo\planet.ts"/>
</Component>
<Component Id="C0027" Directory="D0027" Guid="e769df7e-2f69-488e-ba04-cf0562488caf">
    <File Id="F0055" Source="..\bot_includes\planet\getplanetnumber\planet.ts"/>
</Component>
<Component Id="C0028" Directory="D0028" Guid="5a777624-4d38-47e3-b556-683e95de950a">
    <File Id="F0056" Source="..\bot_includes\planet\getplanetstats\planet.ts"/>
</Component>
<Component Id="C0029" Directory="D0029" Guid="d0beecdd-68cf-4754-8eca-295266e6fdc9">
    <File Id="F0057" Source="..\bot_includes\planet\landingsub\planet.ts"/>
</Component>
<Component Id="C0030" Directory="D0030" Guid="9b4de205-652f-4f8e-9346-41e6f9552a8e">
    <File Id="F0058" Source="..\bot_includes\planet\landonplanetentercitadel\planet.ts"/>
</Component>
<Component Id="C0031" Directory="D0031" Guid="efec828f-0c9a-49d7-b1a2-427f341bd94f">
    <File Id="F0059" Source="..\bot_includes\planet\loadplanetinfo\planet.ts"/>
</Component>
<Component Id="C0032" Directory="D0032" Guid="5607e303-f511-41a8-86bd-b48bbd490679">
    <File Id="F0060" Source="..\bot_includes\planet\makeplanetarray\planet.ts"/>
</Component>
<Component Id="C0033" Directory="D0033" Guid="89237960-d327-4c48-b7a4-6bc257663165">
    <File Id="F0061" Source="..\bot_includes\planet\planetneg\planet.ts"/>
</Component>
<Component Id="C0035" Directory="D0035" Guid="fd0d74da-a9bc-4d41-b410-8919eaec8878">
    <File Id="F0062" Source="..\bot_includes\player\addfigtodata\player.ts"/>
</Component>
<Component Id="C0036" Directory="D0036" Guid="1a3de030-bd08-4010-a025-e189a63868e2">
    <File Id="F0063" Source="..\bot_includes\player\buy\player.ts"/>
</Component>
<Component Id="C0037" Directory="D0037" Guid="59d3741d-1244-4b9e-b306-c1b961ea73bd">
    <File Id="F0064" Source="..\bot_includes\player\bwarp\player.ts"/>
</Component>
<Component Id="C0038" Directory="D0038" Guid="09f1683b-10c8-4937-bd30-0265fa84f2bc">
    <File Id="F0065" Source="..\bot_includes\player\checkcorp\player.ts"/>
</Component>
<Component Id="C0039" Directory="D0039" Guid="bd8f3f5e-052a-49a2-a472-86b50e361ef0">
    <File Id="F0066" Source="..\bot_includes\player\checkfortravelname\player.ts"/>
</Component>
<Component Id="C0040" Directory="D0040" Guid="78761703-bb46-476d-9262-72eea5e8b1c2">
    <File Id="F0067" Source="..\bot_includes\player\clearadjacent\player.ts"/>
</Component>
<Component Id="C0041" Directory="D0041" Guid="fed29f7d-bd9d-4b36-acb9-b63b067da932">
    <File Id="F0068" Source="..\bot_includes\player\commasize\player.ts"/>
</Component>
<Component Id="C0042" Directory="D0042" Guid="94fd770f-ee2d-4617-a0b0-dfbb034bb6ca">
    <File Id="F0069" Source="..\bot_includes\player\currentprompt\player.ts"/>
</Component>
<Component Id="C0043" Directory="D0043" Guid="788ac4a2-b989-4be5-a1f4-1d2b885d2247">
    <File Id="F0070" Source="..\bot_includes\player\findjumpsector\player.ts"/>
</Component>
<Component Id="C0044" Directory="D0044" Guid="c7c07dc7-c3b0-495b-b12b-aab4322ee80b">
    <File Id="F0071" Source="..\bot_includes\player\formatnumberforspaces\player.ts"/>
</Component>
<Component Id="C0045" Directory="D0045" Guid="994e6c8d-6707-44ac-8d23-b656753f5f6b">
    <File Id="F0072" Source="..\bot_includes\player\formatpercentagesforspaces\player.ts"/>
</Component>
<Component Id="C0046" Directory="D0046" Guid="4082e97b-f19e-48d3-b91c-b874d5d707b7">
    <File Id="F0073" Source="..\bot_includes\player\getcourse\player.ts"/>
</Component>
<Component Id="C0047" Directory="D0047" Guid="898c9205-0257-47a9-8913-5bad6a372c0b">
    <File Id="F0074" Source="..\bot_includes\player\getinfo\player.ts"/>
</Component>
<Component Id="C0048" Directory="D0048" Guid="263f58a0-05df-444a-abc5-dfdb59acd1bd">
    <File Id="F0075" Source="..\bot_includes\player\getportinfo\player.ts"/>
</Component>
<Component Id="C0049" Directory="D0049" Guid="3b23ab94-0d9a-46a0-b369-8b340eefe58b">
    <File Id="F0076" Source="..\bot_includes\player\isephaggle\player.ts"/>
</Component>
<Component Id="C0050" Directory="D0050" Guid="c9c19cb4-7b55-421f-8e59-3c28e496cade">
    <File Id="F0077" Source="..\bot_includes\player\moveintosector\player.ts"/>
</Component>
<Component Id="C0051" Directory="D0051" Guid="e272c56b-02ac-416e-affc-d1c6d0f114a6">
    <File Id="F0078" Source="..\bot_includes\player\pwarp\player.ts"/>
</Component>
<Component Id="C0052" Directory="D0052" Guid="1a735463-c49e-445b-9f74-c5a820ec21d8">
    <File Id="F0079" Source="..\bot_includes\player\quikstats\player.ts"/>
</Component>
<Component Id="C0053" Directory="D0053" Guid="404c1e69-c411-48cd-8e42-866f4d4151b2">
    <File Id="F0080" Source="..\bot_includes\player\removefigfromdata\player.ts"/>
</Component>
<Component Id="C0054" Directory="D0054" Guid="b193d77d-9054-49dd-b1cf-78fa5c827be3">
    <File Id="F0081" Source="..\bot_includes\player\setconnectiontriggers\player.ts"/>
</Component>
<Component Id="C0055" Directory="D0055" Guid="86b3e07c-4a8d-4581-b5a5-4444b483fd0d">
    <File Id="F0082" Source="..\bot_includes\player\startcnsettings\player.ts"/>
</Component>
<Component Id="C0056" Directory="D0056" Guid="6371d62c-6e1c-48d3-8219-03928a26506c">
    <File Id="F0083" Source="..\bot_includes\player\starthaggle\player.ts"/>
</Component>
<Component Id="C0057" Directory="D0057" Guid="f3d76342-67b8-48f6-9f9b-58c19e8fc2b2">
    <File Id="F0084" Source="..\bot_includes\player\swathoff\player.ts"/>
</Component>
<Component Id="C0058" Directory="D0058" Guid="1789c3a5-97b2-4327-acdc-0181c3439582">
    <File Id="F0085" Source="..\bot_includes\player\topoff\player.ts"/>
</Component>
<Component Id="C0059" Directory="D0059" Guid="7b8070ef-687d-40be-92f0-475b1ae382ba">
    <File Id="F0086" Source="..\bot_includes\player\turnoffansi\player.ts"/>
</Component>
<Component Id="C0060" Directory="D0060" Guid="2aceb2cd-05f0-459f-8508-70d7997cbf7a">
    <File Id="F0087" Source="..\bot_includes\player\turnonansi\player.ts"/>
</Component>
<Component Id="C0061" Directory="D0061" Guid="7f51225c-12b5-4116-b8b6-0befe6e86c93">
    <File Id="F0088" Source="..\bot_includes\player\twarp\player.ts"/>
</Component>
<Component Id="C0062" Directory="D0062" Guid="45792a69-79c0-477f-9c85-cd863d27cf20">
    <File Id="F0089" Source="..\bot_includes\player\voidadjacent\player.ts"/>
</Component>
<Component Id="C0064" Directory="D0064" Guid="ce96d159-dc2d-4514-aa6d-2de2d316d5e3">
    <File Id="F0090" Source="..\bot_includes\sector\getautosectordata\sector.ts"/>
</Component>
<Component Id="C0065" Directory="D0065" Guid="baa4befb-899a-446f-8edd-a720aac18c44">
    <File Id="F0091" Source="..\bot_includes\sector\getemptyships\sector.ts"/>
</Component>
<Component Id="C0066" Directory="D0066" Guid="55acd89b-9424-46c9-a85d-e21940d320a2">
    <File Id="F0092" Source="..\bot_includes\sector\getfaketraders\sector.ts"/>
</Component>
<Component Id="C0067" Directory="D0067" Guid="9650cc13-99e0-4d97-8884-09cb47cb8a33">
    <File Id="F0093" Source="..\bot_includes\sector\getsectordata\sector.ts"/>
</Component>
<Component Id="C0068" Directory="D0068" Guid="31340f3b-0d03-4c71-8df0-7587fa91cdde">
    <File Id="F0094" Source="..\bot_includes\sector\gettraders\sector.ts"/>
</Component>
<Component Id="C0070" Directory="D0070" Guid="602f1855-b622-4fc5-9b80-3010d48ee65a">
    <File Id="F0095" Source="..\bot_includes\ship\getshipcapstats\ship.ts"/>
</Component>
<Component Id="C0071" Directory="D0071" Guid="13b3e5ff-5081-462e-82fa-9cd6cd2ee116">
    <File Id="F0096" Source="..\bot_includes\ship\getshipstats\ship.ts"/>
</Component>
<Component Id="C0072" Directory="D0072" Guid="5115154b-206e-4d5d-88b1-69b638cb86a5">
    <File Id="F0097" Source="..\bot_includes\ship\loadshipinfo\ship.ts"/>
</Component>
<Component Id="C0073" Directory="D0073" Guid="a146b4f9-ae32-4d87-abdf-f92fff0c37ee">
    <File Id="F0098" Source="..\bot_includes\ship\savetheship\ship.ts"/>
</Component>
<Component Id="C0075" Directory="D0075" Guid="571e0a19-1f6d-471f-9912-60352f478e6a">
    <File Id="F0099" Source="..\bot_includes\targeting\fastcitadelattack\targeting.ts"/>
</Component>
<Component Id="C0076" Directory="D0076" Guid="fc081c26-d338-4d29-91fc-10b852045130">
    <File Id="F0100" Source="..\bot_includes\targeting\getemptyships\sector.ts"/>
</Component>
<Component Id="C0077" Directory="D0077" Guid="d42dbfde-7152-4aca-8d61-c731e5841538">
    <File Id="F0101" Source="..\bot_includes\targeting\getfaketraders\sector.ts"/>
</Component>
<Component Id="C0078" Directory="D0078" Guid="5d35d8d9-71fa-4051-b47d-1c8f07e1f3cb">
    <File Id="F0102" Source="..\bot_includes\targeting\getsectordata\sector.ts"/>
</Component>
<Component Id="C0079" Directory="D0079" Guid="f134281a-e915-4ac1-87ce-d0e861d1f700">
    <File Id="F0103" Source="..\bot_includes\targeting\gettraders\sector.ts"/>
</Component>
<Component Id="C0080" Directory="D0080" Guid="03fc101c-2fea-42c8-88de-f56decdcf972">
    <File Id="F0104" Source="..\bot_includes\targeting\initializetargeting\targeting.ts"/>
</Component>
<Component Id="C0081" Directory="D0081" Guid="a660b41a-df73-4792-8786-ae6ff4185d75">
    <File Id="F0105" Source="..\bot_includes\targeting\scanitcitkill\targeting.ts"/>
</Component>
<Component Id="C0083" Directory="D0083" Guid="f3f3a1f5-b40a-4bac-95f4-106fb6023d48">
    <File Id="F0106" Source="..\commands\cashing\mega.ts"/>
    <File Id="F0107" Source="..\commands\cashing\neg.ts"/>
    <File Id="F0108" Source="..\commands\cashing\ppt.ts"/>
    <File Id="F0109" Source="..\commands\cashing\rob.ts"/>
    <File Id="F0110" Source="..\commands\cashing\trade.ts"/>
    <File Id="F0111" Source="..\commands\cashing\tricon.ts"/>
</Component>
<Component Id="C0084" Directory="D0084" Guid="05f81ee0-b7d2-4d41-8343-5a1df2e6ea34">
    <File Id="F0112" Source="..\commands\data\armids.cts"/>
    <File Id="F0113" Source="..\commands\data\avoids.ts"/>
    <File Id="F0114" Source="..\commands\data\busts.ts"/>
    <File Id="F0115" Source="..\commands\data\cim.cts"/>
    <File Id="F0116" Source="..\commands\data\clearbusts.ts"/>
    <File Id="F0117" Source="..\commands\data\corp_info.ts"/>
    <File Id="F0118" Source="..\commands\data\course.ts"/>
    <File Id="F0119" Source="..\commands\data\disp.ts"/>
    <File Id="F0120" Source="..\commands\data\dscan.ts"/>
    <File Id="F0121" Source="..\commands\data\figs.cts"/>
    <File Id="F0122" Source="..\commands\data\find.ts"/>
    <File Id="F0123" Source="..\commands\data\getvar.ts"/>
    <File Id="F0124" Source="..\commands\data\history.ts"/>
    <File Id="F0125" Source="..\commands\data\holo.ts"/>
    <File Id="F0126" Source="..\commands\data\limps.cts"/>
    <File Id="F0127" Source="..\commands\data\overload.ts"/>
    <File Id="F0128" Source="..\commands\data\param.ts"/>
    <File Id="F0129" Source="..\commands\data\ping.cts"/>
    <File Id="F0130" Source="..\commands\data\plist.ts"/>
    <File Id="F0131" Source="..\commands\data\pscan.ts"/>
    <File Id="F0132" Source="..\commands\data\sector.ts"/>
    <File Id="F0133" Source="..\commands\data\select.ts"/>
    <File Id="F0134" Source="..\commands\data\setparam.ts"/>
    <File Id="F0135" Source="..\commands\data\setparms.ts"/>
    <File Id="F0136" Source="..\commands\data\setvar.ts"/>
    <File Id="F0137" Source="..\commands\data\slist.ts"/>
    <File Id="F0138" Source="..\commands\data\status.ts"/>
    <File Id="F0139" Source="..\commands\data\storeship.ts"/>
    <File Id="F0140" Source="..\commands\data\time.ts"/>
    <File Id="F0141" Source="..\commands\data\update.ts"/>
</Component>
<Component Id="C0085" Directory="D0085" Guid="64407904-53c8-45d9-859e-778bb86716c4">
    <File Id="F0142" Source="..\commands\defense\call.ts"/>
    <File Id="F0143" Source="..\commands\defense\evac.ts"/>
    <File Id="F0144" Source="..\commands\defense\hazkill.ts"/>
    <File Id="F0145" Source="..\commands\defense\_macro_kit.ts"/>
</Component>
<Component Id="C0086" Directory="D0086" Guid="fbc6ad3e-b9d4-4d9c-b574-090778738f5c">
    <File Id="F0146" Source="..\commands\general\bg2019.cts"/>
    <File Id="F0147" Source="..\commands\general\bwarp.ts"/>
    <File Id="F0148" Source="..\commands\general\callout.ts"/>
    <File Id="F0149" Source="..\commands\general\cn9.cts"/>
    <File Id="F0150" Source="..\commands\general\corp.ts"/>
    <File Id="F0151" Source="..\commands\general\dep.ts"/>
    <File Id="F0152" Source="..\commands\general\emq.ts"/>
    <File Id="F0153" Source="..\commands\general\fed.ts"/>
    <File Id="F0154" Source="..\commands\general\help.ts"/>
    <File Id="F0155" Source="..\commands\general\hht2020.cts"/>
    <File Id="F0156" Source="..\commands\general\keep.ts"/>
    <File Id="F0157" Source="..\commands\general\land.ts"/>
    <File Id="F0158" Source="..\commands\general\lift.ts"/>
    <File Id="F0159" Source="..\commands\general\login.ts"/>
    <File Id="F0160" Source="..\commands\general\mac.ts"/>
    <File Id="F0161" Source="..\commands\general\nmac.ts"/>
    <File Id="F0162" Source="..\commands\general\photon.ts"/>
    <File Id="F0163" Source="..\commands\general\port.cts"/>
    <File Id="F0164" Source="..\commands\general\pwarp.ts"/>
    <File Id="F0165" Source="..\commands\general\qset.cts"/>
    <File Id="F0166" Source="..\commands\general\reboot.ts"/>
    <File Id="F0167" Source="..\commands\general\relog.ts"/>
    <File Id="F0168" Source="..\commands\general\reset.ts"/>
    <File Id="F0169" Source="..\commands\general\run.ts"/>
    <File Id="F0170" Source="..\commands\general\ss.ts"/>
    <File Id="F0171" Source="..\commands\general\subspace.ts"/>
    <File Id="F0172" Source="..\commands\general\switch.ts"/>
    <File Id="F0173" Source="..\commands\general\topoff.cts"/>
    <File Id="F0174" Source="..\commands\general\tow.ts"/>
    <File Id="F0175" Source="..\commands\general\twarp.ts"/>
    <File Id="F0176" Source="..\commands\general\unlock.ts"/>
    <File Id="F0177" Source="..\commands\general\wait.ts"/>
    <File Id="F0178" Source="..\commands\general\with.ts"/>
    <File Id="F0179" Source="..\commands\general\xport.ts"/>
</Component>
<Component Id="C0087" Directory="D0087" Guid="bf106bec-3c09-4f9d-84a2-a5b82389d29d">
    <File Id="F0180" Source="..\commands\grid\clear.ts"/>
    <File Id="F0181" Source="..\commands\grid\climp.cts"/>
    <File Id="F0182" Source="..\commands\grid\cmine.cts"/>
    <File Id="F0183" Source="..\commands\grid\deploy.ts"/>
    <File Id="F0184" Source="..\commands\grid\exit.ts"/>
    <File Id="F0185" Source="..\commands\grid\mines.cts"/>
    <File Id="F0186" Source="..\commands\grid\pgrid.ts"/>
    <File Id="F0187" Source="..\commands\grid\plimp.ts"/>
    <File Id="F0188" Source="..\commands\grid\pmine.cts"/>
    <File Id="F0189" Source="..\commands\grid\port.ts"/>
    <File Id="F0190" Source="..\commands\grid\surround.cts"/>
    <File Id="F0191" Source="..\commands\grid\xenter.ts"/>
</Component>
<Component Id="C0088" Directory="D0088" Guid="442b5f19-15b6-465f-a30d-c51c8be55f3d">
    <File Id="F0192" Source="..\commands\offense\cap.cts"/>
    <File Id="F0193" Source="..\commands\offense\hkill.ts"/>
    <File Id="F0194" Source="..\commands\offense\htorp.ts"/>
    <File Id="F0195" Source="..\commands\offense\kill.cts"/>
    <File Id="F0196" Source="..\commands\offense\pe.ts"/>
    <File Id="F0197" Source="..\commands\offense\ped.ts"/>
    <File Id="F0198" Source="..\commands\offense\pel.ts"/>
    <File Id="F0199" Source="..\commands\offense\pelk.ts"/>
    <File Id="F0200" Source="..\commands\offense\pex.ts"/>
    <File Id="F0201" Source="..\commands\offense\pxe.ts"/>
    <File Id="F0202" Source="..\commands\offense\pxed.ts"/>
    <File Id="F0203" Source="..\commands\offense\pxedx.ts"/>
    <File Id="F0204" Source="..\commands\offense\pxel.ts"/>
    <File Id="F0205" Source="..\commands\offense\pxelk.ts"/>
    <File Id="F0206" Source="..\commands\offense\pxex.ts"/>
    <File Id="F0207" Source="..\commands\offense\_kazi.ts"/>
</Component>
<Component Id="C0089" Directory="D0089" Guid="0240dfcd-012c-4efd-8691-1185c5627fad">
    <File Id="F0208" Source="..\commands\resource\buy.cts"/>
    <File Id="F0209" Source="..\commands\resource\dump.cts"/>
    <File Id="F0210" Source="..\commands\resource\max.cts"/>
    <File Id="F0211" Source="..\commands\resource\sellship.cts"/>
    <File Id="F0212" Source="..\commands\resource\_dock_shopper.ts"/>
</Component>
<Component Id="C0090" Directory="D0090" Guid="5d077e4e-f9c4-4302-99ea-c609f8998f11">
    <File Id="F0213" Source="..\daemons\alienhunt.cts"/>
    <File Id="F0214" Source="..\daemons\at.cts"/>
    <File Id="F0215" Source="..\daemons\chat.ts"/>
    <File Id="F0216" Source="..\daemons\comms.ts"/>
    <File Id="F0217" Source="..\daemons\ephaggle.ts"/>
    <File Id="F0218" Source="..\daemons\ignore.ts"/>
    <File Id="F0219" Source="..\daemons\online.ts"/>
    <File Id="F0220" Source="..\daemons\repeat.cts"/>
    <File Id="F0221" Source="..\daemons\stats.ts"/>
    <File Id="F0222" Source="..\daemons\teammega.cts"/>
    <File Id="F0223" Source="..\daemons\viewscreen.ts"/>
    <File Id="F0224" Source="..\daemons\watcher.ts"/>
</Component>
<Component Id="C0092" Directory="D0092" Guid="cbc13b49-6859-480c-9913-fee7784b362c">
    <File Id="F0225" Source="..\modes\cashing\bbb.ts"/>
    <File Id="F0226" Source="..\modes\cashing\furb.ts"/>
    <File Id="F0227" Source="..\modes\cashing\marco.cts"/>
    <File Id="F0228" Source="..\modes\cashing\merch.ts"/>
    <File Id="F0229" Source="..\modes\cashing\mooexp_p.cts"/>
    <File Id="F0230" Source="..\modes\cashing\moo_p.cts"/>
    <File Id="F0231" Source="..\modes\cashing\salesman.ts"/>
    <File Id="F0232" Source="..\modes\cashing\sdt.ts"/>
    <File Id="F0233" Source="..\modes\cashing\sst.ts"/>
    <File Id="F0234" Source="..\modes\cashing\Tbust.cts"/>
    <File Id="F0235" Source="..\modes\cashing\wppt.ts"/>
    <File Id="F0236" Source="..\modes\cashing\wsst.ts"/>
</Component>
<Component Id="C0093" Directory="D0093" Guid="00f1a282-6909-4a71-8126-441d5959a90e">
    <File Id="F0237" Source="..\modes\data\beam.ts"/>
    <File Id="F0238" Source="..\modes\data\list.ts"/>
    <File Id="F0239" Source="..\modes\data\sentinel.ts"/>
    <File Id="F0240" Source="..\modes\data\ztm.ts"/>
</Component>
<Component Id="C0094" Directory="D0094" Guid="be852ddb-8a40-41dd-b05d-d949f813b92b">
    <File Id="F0241" Source="..\modes\defense\citfill.ts"/>
    <File Id="F0242" Source="..\modes\defense\ig.ts"/>
    <File Id="F0243" Source="..\modes\defense\reloader.ts"/>
    <File Id="F0244" Source="..\modes\defense\runaway.ts"/>
    <File Id="F0245" Source="..\modes\defense\saveme.ts"/>
    <File Id="F0246" Source="..\modes\defense\savevar.ts"/>
    <File Id="F0247" Source="..\modes\defense\unstack.ts"/>
</Component>
<Component Id="C0095" Directory="D0095" Guid="0918db43-e53b-4a1c-88cd-17e510b1ad26">
    <File Id="F0248" Source="..\modes\general\xenter.cts"/>
</Component>
<Component Id="C0096" Directory="D0096" Guid="a631d9c8-8bb7-44b0-b026-895cf2eb586f">
    <File Id="F0249" Source="..\modes\grid\dora.ts"/>
    <File Id="F0250" Source="..\modes\grid\lspassgrid.ts"/>
    <File Id="F0251" Source="..\modes\grid\mow.ts"/>
    <File Id="F0252" Source="..\modes\grid\pgridder.ts"/>
    <File Id="F0253" Source="..\modes\grid\plimper.ts"/>
    <File Id="F0254" Source="..\modes\grid\ramgrid.ts"/>
    <File Id="F0255" Source="..\modes\grid\wall.ts"/>
    <File Id="F0256" Source="..\modes\grid\wander.ts"/>
</Component>
<Component Id="C0097" Directory="D0097" Guid="a22ef82e-7f39-4c0c-84a3-b2f3d219f1cb">
    <File Id="F0257" Source="..\modes\offense\Boton.cts"/>
    <File Id="F0258" Source="..\modes\offense\citcap.ts"/>
    <File Id="F0259" Source="..\modes\offense\citkill.ts"/>
    <File Id="F0260" Source="..\modes\offense\density.ts"/>
    <File Id="F0261" Source="..\modes\offense\dockkill.ts"/>
    <File Id="F0262" Source="..\modes\offense\drop.ts"/>
    <File Id="F0263" Source="..\modes\offense\foton.ts"/>
    <File Id="F0264" Source="..\modes\offense\pdrop.ts"/>
    <File Id="F0265" Source="..\modes\offense\plock.ts"/>
</Component>
<Component Id="C0098" Directory="D0098" Guid="d7b49b2b-5cf1-4fed-8926-84d49843f03f">
    <File Id="F0266" Source="..\modes\resource\colo.ts"/>
    <File Id="F0267" Source="..\modes\resource\dump.ts"/>
    <File Id="F0268" Source="..\modes\resource\ecolo.ts"/>
    <File Id="F0269" Source="..\modes\resource\fillships.ts"/>
    <File Id="F0270" Source="..\modes\resource\lsd.ts"/>
    <File Id="F0271" Source="..\modes\resource\makeplanet.ts"/>
    <File Id="F0272" Source="..\modes\resource\Move.cts"/>
    <File Id="F0273" Source="..\modes\resource\movefig.cts"/>
    <File Id="F0274" Source="..\modes\resource\moveship.ts"/>
    <File Id="F0275" Source="..\modes\resource\patp.ts"/>
    <File Id="F0276" Source="..\modes\resource\pimp.ts"/>
    <File Id="F0277" Source="..\modes\resource\strip.ts"/>
</Component>
<Component Id="C0099" Directory="D0099" Guid="eaf5f23c-b590-4c69-ac47-d62de38a080b">
    <File Id="F0278" Source="..\module_includes\bot.ts"/>
</Component>
<Component Id="C0101" Directory="D0101" Guid="d3e78796-3d36-4a7e-80b8-2d9122eba457">
    <File Id="F0279" Source="..\module_includes\bot\addfigtodata\bot.ts"/>
</Component>
<Component Id="C0102" Directory="D0102" Guid="de461239-e00c-450a-a991-1ac8571d40d7">
    <File Id="F0280" Source="..\module_includes\bot\banner\bot.ts"/>
</Component>
<Component Id="C0103" Directory="D0103" Guid="c097a836-085e-4311-963a-b2f4608678e9">
    <File Id="F0281" Source="..\module_includes\bot\checkstartingprompt\bot.ts"/>
</Component>
<Component Id="C0104" Directory="D0104" Guid="dba4f3de-a170-43d5-8480-2a644eecba2c">
    <File Id="F0282" Source="..\module_includes\bot\commas\bot.ts"/>
</Component>
<Component Id="C0105" Directory="D0105" Guid="052a67fd-a13a-4fb1-b72f-e1cf2754fb27">
    <File Id="F0283" Source="..\module_includes\bot\disconnecttriggers\bot.ts"/>
</Component>
<Component Id="C0106" Directory="D0106" Guid="e049f58b-a8cf-4e1a-95fe-3513e392287e">
    <File Id="F0284" Source="..\module_includes\bot\displayhelp\bot.ts"/>
</Component>
<Component Id="C0107" Directory="D0107" Guid="9dfe7d8c-4038-44c4-827c-b21de5fce5c3">
    <File Id="F0285" Source="..\module_includes\bot\echo\bot.ts"/>
</Component>
<Component Id="C0108" Directory="D0108" Guid="2aa28759-b789-4d0c-9449-60ab9f7b860e">
    <File Id="F0286" Source="..\module_includes\bot\formathelpline\bot.ts"/>
</Component>
<Component Id="C0109" Directory="D0109" Guid="2c26539d-82df-4429-b1ec-b5180a42f5cd">
    <File Id="F0287" Source="..\module_includes\bot\helpfile\bot.ts"/>
</Component>
<Component Id="C0110" Directory="D0110" Guid="ff59276f-7446-4aa9-b74c-680fcccbe761">
    <File Id="F0288" Source="..\module_includes\bot\loadvars\bot.ts"/>
</Component>
<Component Id="C0111" Directory="D0111" Guid="b4fd24db-12bd-47a6-be72-b0bac62b8de8">
    <File Id="F0289" Source="..\module_includes\bot\menu\bot.ts"/>
</Component>
<Component Id="C0112" Directory="D0112" Guid="6fdfb458-e516-4c9c-a158-5f67d359d335">
    <File Id="F0290" Source="..\module_includes\bot\removefigfromdata\bot.ts"/>
</Component>
<Component Id="C0113" Directory="D0113" Guid="96a365a3-e188-45ed-a189-c8681227f2fd">
    <File Id="F0291" Source="..\module_includes\bot\wait_for_command\bot.ts"/>
</Component>
<Component Id="C0114" Directory="D0114" Guid="f722a5e4-de02-4888-b22d-79ec4a799acc">
    <File Id="F0292" Source="..\module_includes\deploy\armid.ts"/>
    <File Id="F0293" Source="..\module_includes\deploy\fighter.ts"/>
    <File Id="F0294" Source="..\module_includes\deploy\limp.ts"/>
    <File Id="F0295" Source="..\module_includes\deploy\mines.ts"/>
    <File Id="F0296" Source="..\module_includes\deploy\topoff.ts"/>
</Component>
<Component Id="C0116" Directory="D0116" Guid="3d163bd8-05b4-4439-a0b0-5308de4887b7">
    <File Id="F0297" Source="..\module_includes\game\addfigtodata\bot.ts"/>
</Component>
<Component Id="C0117" Directory="D0117" Guid="d361c256-e83f-4b74-9107-3d8051a07116">
    <File Id="F0298" Source="..\module_includes\game\banner\bot.ts"/>
</Component>
<Component Id="C0118" Directory="D0118" Guid="58d9afb3-2384-4e20-b67d-fdd90c0dc354">
    <File Id="F0299" Source="..\module_includes\game\checkstartingprompt\bot.ts"/>
</Component>
<Component Id="C0119" Directory="D0119" Guid="2e8dc2b8-0eec-48e0-9800-50a036cb8bb1">
    <File Id="F0300" Source="..\module_includes\game\commas\bot.ts"/>
</Component>
<Component Id="C0120" Directory="D0120" Guid="efc635e6-c055-4083-ab46-13abc6cc09bc">
    <File Id="F0301" Source="..\module_includes\game\disconnecttriggers\bot.ts"/>
</Component>
<Component Id="C0121" Directory="D0121" Guid="fa2d6c5c-3ab4-4989-b587-723861a74bbf">
    <File Id="F0302" Source="..\module_includes\game\displayhelp\bot.ts"/>
</Component>
<Component Id="C0122" Directory="D0122" Guid="0db9af1f-a7d1-451e-9318-bd746a98fb47">
    <File Id="F0303" Source="..\module_includes\game\formathelpline\bot.ts"/>
</Component>
<Component Id="C0123" Directory="D0123" Guid="9570a738-afd1-48d5-b4ff-b383099d3e59">
    <File Id="F0304" Source="..\module_includes\game\helpfile\bot.ts"/>
</Component>
<Component Id="C0124" Directory="D0124" Guid="98046290-911b-4775-8531-4bd7c7265353">
    <File Id="F0305" Source="..\module_includes\game\loadvars\bot.ts"/>
</Component>
<Component Id="C0125" Directory="D0125" Guid="8b70afeb-3147-4212-b54c-c58557b48ba5">
    <File Id="F0306" Source="..\module_includes\game\menu\bot.ts"/>
</Component>
<Component Id="C0126" Directory="D0126" Guid="deb81eb8-d0fb-4684-b58b-93ffbb882dc8">
    <File Id="F0307" Source="..\module_includes\game\removefigfromdata\bot.ts"/>
</Component>
<Component Id="C0127" Directory="D0127" Guid="861d831f-e3b5-4f75-a0e0-54cc6adc3dea">
    <File Id="F0308" Source="..\module_includes\game\wait_for_command\bot.ts"/>
</Component>
<Component Id="C0129" Directory="D0129" Guid="de305d20-e2c3-494e-9ff2-bd7b5150834e">
    <File Id="F0309" Source="..\module_includes\modules\clear\modules.ts"/>
</Component>
<Component Id="C0130" Directory="D0130" Guid="37466deb-017a-4249-98fc-211750cf09c4">
    <File Id="F0310" Source="..\module_includes\modules\xenter\modules.ts"/>
</Component>
<Component Id="C0131" Directory="D0131" Guid="9fe9b4de-5f07-43d0-95f4-687cabf3aba1">
    <File Id="F0311" Source="..\module_includes\update\armids.ts"/>
    <File Id="F0312" Source="..\module_includes\update\cim.ts"/>
    <File Id="F0313" Source="..\module_includes\update\fighters.ts"/>
    <File Id="F0314" Source="..\module_includes\update\limpets.ts"/>
</Component>
<Component Id="C0132" Directory="D0132" Guid="43cac386-94f8-46d5-9f9f-943f00925110">
    <File Id="F0315" Source="..\startups\chat.cts"/>
    <File Id="F0316" Source="..\startups\viewscreen.cts"/>
    <File Id="F0317" Source="..\startups\watcher.cts"/>
</Component>
<Component Id="HelpComp" Directory="Help" Guid="b64b40cf-aa6a-4e93-9ece-ae158b059df7">
    <File Id="F0318" Source="..\Help\About.txt"/>
    <File Id="F0319" Source="..\Help\armids.txt"/>
    <File Id="F0320" Source="..\Help\avoids.txt"/>
    <File Id="F0321" Source="..\Help\Bot.txt"/>
    <File Id="F0322" Source="..\Help\boton.txt"/>
    <File Id="F0323" Source="..\Help\Bust.txt"/>
    <File Id="F0324" Source="..\Help\bustcount.txt"/>
    <File Id="F0325" Source="..\Help\Buy.txt"/>
    <File Id="F0326" Source="..\Help\BWarp.txt"/>
    <File Id="F0327" Source="..\Help\Call.txt"/>
    <File Id="F0328" Source="..\Help\callout.txt"/>
    <File Id="F0329" Source="..\Help\CIM.txt"/>
    <File Id="F0330" Source="..\Help\citkill.txt"/>
    <File Id="F0331" Source="..\Help\class0.txt"/>
    <File Id="F0332" Source="..\Help\Clear.txt"/>
    <File Id="F0333" Source="..\Help\CLimp.txt"/>
    <File Id="F0334" Source="..\Help\CMine.txt"/>
    <File Id="F0335" Source="..\Help\cn.txt"/>
    <File Id="F0336" Source="..\Help\cn9.txt"/>
    <File Id="F0337" Source="..\Help\Colo.txt"/>
    <File Id="F0338" Source="..\Help\corp.txt"/>
    <File Id="F0339" Source="..\Help\course.txt"/>
    <File Id="F0340" Source="..\Help\Dep.txt"/>
    <File Id="F0341" Source="..\Help\DISP.txt"/>
    <File Id="F0342" Source="..\Help\DisR.txt"/>
    <File Id="F0343" Source="..\Help\DScan.txt"/>
    <File Id="F0344" Source="..\Help\Dump.txt"/>
    <File Id="F0345" Source="..\Help\EMQ.txt"/>
    <File Id="F0346" Source="..\Help\EMX.txt"/>
    <File Id="F0347" Source="..\Help\Exit.txt"/>
    <File Id="F0348" Source="..\Help\FigMove.txt"/>
    <File Id="F0349" Source="..\Help\Figs.txt"/>
    <File Id="F0350" Source="..\Help\Find.txt"/>
    <File Id="F0351" Source="..\Help\Finder.txt"/>
    <File Id="F0352" Source="..\Help\Furb.txt"/>
    <File Id="F0353" Source="..\Help\GetVar.txt"/>
    <File Id="F0354" Source="..\Help\GridCheck.txt"/>
    <File Id="F0355" Source="..\Help\HKILL.txt"/>
    <File Id="F0356" Source="..\Help\Holo.txt"/>
    <File Id="F0357" Source="..\Help\HTorp.txt"/>
    <File Id="F0358" Source="..\Help\IG.txt"/>
    <File Id="F0359" Source="..\Help\KILL.txt"/>
    <File Id="F0360" Source="..\Help\Land.txt"/>
    <File Id="F0361" Source="..\Help\Lift.txt"/>
    <File Id="F0362" Source="..\Help\Limp.txt"/>
    <File Id="F0363" Source="..\Help\Limps.txt"/>
    <File Id="F0364" Source="..\Help\ListAll.txt"/>
    <File Id="F0365" Source="..\Help\Login.txt"/>
    <File Id="F0366" Source="..\Help\Logoff.txt"/>
    <File Id="F0367" Source="..\Help\LSD.txt"/>
    <File Id="F0368" Source="..\Help\Mac.txt"/>
    <File Id="F0369" Source="..\Help\Max.txt"/>
    <File Id="F0370" Source="..\Help\MaxPort.txt"/>
    <File Id="F0371" Source="..\Help\Mega.txt"/>
    <File Id="F0372" Source="..\Help\Merch.txt"/>
    <File Id="F0373" Source="..\Help\Mine.txt"/>
    <File Id="F0374" Source="..\Help\Mines.txt"/>
    <File Id="F0375" Source="..\Help\MOVE.txt"/>
    <File Id="F0376" Source="..\Help\MoveFig.txt"/>
    <File Id="F0377" Source="..\Help\moveship.txt"/>
    <File Id="F0378" Source="..\Help\Mow.txt"/>
    <File Id="F0379" Source="..\Help\msgs.txt"/>
    <File Id="F0380" Source="..\Help\Neg.txt"/>
    <File Id="F0381" Source="..\Help\News.txt"/>
    <File Id="F0382" Source="..\Help\NMac.txt"/>
    <File Id="F0383" Source="..\Help\Overload.txt"/>
    <File Id="F0384" Source="..\Help\Page.txt"/>
    <File Id="F0385" Source="..\Help\param.txt"/>
    <File Id="F0386" Source="..\Help\patp.txt"/>
    <File Id="F0387" Source="..\Help\pdrop.txt"/>
    <File Id="F0388" Source="..\Help\PE.txt"/>
    <File Id="F0389" Source="..\Help\PED.txt"/>
    <File Id="F0390" Source="..\Help\PEL.txt"/>
    <File Id="F0391" Source="..\Help\PELK.txt"/>
    <File Id="F0392" Source="..\Help\PEX.txt"/>
    <File Id="F0393" Source="..\Help\PGrid.txt"/>
    <File Id="F0394" Source="..\Help\Pimp.txt"/>
    <File Id="F0395" Source="..\Help\Ping.txt"/>
    <File Id="F0396" Source="..\Help\Plimp.txt"/>
    <File Id="F0397" Source="..\Help\PList.txt"/>
    <File Id="F0398" Source="..\Help\Plock.txt"/>
    <File Id="F0399" Source="..\Help\PMine.txt"/>
    <File Id="F0400" Source="..\Help\PScan.txt"/>
    <File Id="F0401" Source="..\Help\PSST.txt"/>
    <File Id="F0402" Source="..\Help\PWarp.txt"/>
    <File Id="F0403" Source="..\Help\PXE.txt"/>
    <File Id="F0404" Source="..\Help\PXED.txt"/>
    <File Id="F0405" Source="..\Help\PXEL.txt"/>
    <File Id="F0406" Source="..\Help\PXELK.txt"/>
    <File Id="F0407" Source="..\Help\PXEX.txt"/>
    <File Id="F0408" Source="..\Help\QSS.txt"/>
    <File Id="F0409" Source="..\Help\Refresh.txt"/>
    <File Id="F0410" Source="..\Help\Relog.txt"/>
    <File Id="F0411" Source="..\Help\Reset.txt"/>
    <File Id="F0412" Source="..\Help\Rob.txt"/>
    <File Id="F0413" Source="..\Help\SafeMow.txt"/>
    <File Id="F0414" Source="..\Help\Saveme.txt"/>
    <File Id="F0415" Source="..\Help\SDT.txt"/>
    <File Id="F0416" Source="..\Help\Sector.txt"/>
    <File Id="F0417" Source="..\Help\SetVar.txt"/>
    <File Id="F0418" Source="..\Help\ShipMove.txt"/>
    <File Id="F0419" Source="..\Help\SList.txt"/>
    <File Id="F0420" Source="..\Help\SST.txt"/>
    <File Id="F0421" Source="..\Help\Stats.txt"/>
    <File Id="F0422" Source="..\Help\status.txt"/>
    <File Id="F0423" Source="..\Help\Stopall.txt"/>
    <File Id="F0424" Source="..\Help\StoreShip.txt"/>
    <File Id="F0425" Source="..\Help\strip.txt"/>
    <File Id="F0426" Source="..\Help\Surround.txt"/>
    <File Id="F0427" Source="..\Help\tbust.txt"/>
    <File Id="F0428" Source="..\Help\TopOff.txt"/>
    <File Id="F0429" Source="..\Help\Tow.txt"/>
    <File Id="F0430" Source="..\Help\TRICON.txt"/>
    <File Id="F0431" Source="..\Help\TWarp.txt"/>
    <File Id="F0432" Source="..\Help\Unlock.txt"/>
    <File Id="F0433" Source="..\Help\With.txt"/>
    <File Id="F0434" Source="..\Help\wppt.txt"/>
    <File Id="F0435" Source="..\Help\xenter.txt"/>
    <File Id="F0436" Source="..\Help\Xport.txt"/>
    <File Id="F0437" Source="..\Help\ZTM.txt"/>
</Component>

        </ComponentGroup>
    </Fragment>
</Wix>                
